@import url(https:fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
 /* background: #0075F5; /* fallback for old browsers 
  background: -webkit-linear-gradient(right, #cbd5eb, #cbd5eb);
  background: -moz-linear-gradient(right, #cbd5eb, #cbd5eb);
  background: -o-linear-gradient(right, #cbd5eb, #cbd5eb);
  background: linear-gradient(to left, #cbd5eb, #cbd5eb); */
}
.register-page{
  width: 720px;
  padding: 2% 0 0;
  margin: auto;
}
.course{
  width: 720px;
  padding: 1% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #f9f9f3;
  max-width: 80%;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: rgba(0,0,0,.02);
  width: 100%;
  border: 0.5px solid #0078D4;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.select{
  
}

.form .title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0078D4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0080E3;
}
.form .message {
  margin: 15px 0 0;
  color: #333333;
  font-size: 16px;
}
.form .message a {
  color: #0078D4;
  text-decoration: none;
}
.form .message a:hover{
  color:#0080E3;
  font-weight:100%;
}
.form .register-form {
  display: none;
}
.form select{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f9f9f9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #f2f2f2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: -moz-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: -o-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: linear-gradient(to left, #f2f2f2, #f2f2f2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0;      
}

.header{
  background-color: #0080E3;
  padding: 5px 50px 5px 30px;
  width: 100%;
  min-height: 70px;
}

.header-nav{
  background-color:#0080E3;
  width: 70%;
  float: left;
  height: 70px;
}

.header-navtitle{
  font-size: 22px;
  font-weight: 550;
  width: 25%;
  background-color: #0080E3;
  color: #ffff;
  float: left;
}

.header-nav ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.header-nav li{
  float: right;
}

.header-nav li a{
display: block;
color: white;
text-align: center;
padding: 22px 18px;
}
.header-nav li a:hover {
  background-color: #0078D4;
}
.headline{
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 60px;
  width: 90%;
}
.row-grid{
  width: 90%;
  list-style-type: none;
  overflow: hidden;
  margin-left: 30px;
}
.view-grid{
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px 20px 20px 20px; 
  height: 210px;
  background-color: #b1c4da;
}

.outer{
  max-width: 10%;
  text-align: center; 
}
.outer img{
  width: 480px;
	height: 320px;
  position: relative;
}
.inner{
  
  position: relative;
}
.inner p{
  font-size:18px;
}
.btn{
  float: right;
}
.dropbtn {
  background-color: rgb(48, 135, 185);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #517bc9;
}
.details-body{
  margin: 10px 50px 10px 50px;
  height: 300px;
}
.details-left{
  width: 30%;
  padding: 10px 20px 10px 20px;
  float: left;
}
.details-left img{
  max-width:100%;
  max-height: 320px;
  position: relative;
}
.details-right{
  width: 60%;
  padding: 10px 20px 10px 20px;
  float: right;
}
.items{
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  background-color: #f9f9f3;
  padding:15px;
}
.course{
  margin-bottom: 65px;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}
.course img{
  max-width:100%;
  max-height:100%;
  float: left;
  position:relative;
}
.btn{
  float:right;
  margin-top:45px;
  margin-right: 3px;
}
.dropbtn {
  background-color: rgb(48, 135, 185);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #517bc9;
}
.form-style-2{
  max-width: 700px;
  padding: 50px 30px 20px 20px;
  font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 28px;
  padding-bottom: 3px;
}
.form-style-2 label{
  display: block;
  margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
.form-style-2 span.required{
  color:red;
}
.form-style-2 .tel-number-field{
  width: 40px;
  text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
  width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
.form-style-2 .select-field{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
  border: 1px solid rgb(57, 129, 224);
}
.form-style-2 .textarea-field{
  height:100px;
  width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
  border: none;
  padding: 8px 15px 8px 15px;
  background:#0078D4;
  color: #fff;
  box-shadow: 1px 1px 4px #DADADA;
  -moz-box-shadow: 1px 1px 4px #DADADA;
  -webkit-box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
  background: #0080E3;
  color: #fff;
}
.headlines{
  margin-left: 100px;
  padding: 30px 20px 30px 20px;
}